[class*="col-"] {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-height: 50px;
}

.col-1 {
  width: calc(8.333% - 20px);
  background: #ffe600;
}

.col-2 {
  background: #00b95b;
}

.col-3 {
  background: #002bad;
}

.col-4 {
  background: black;
}

.col-5 {
  background: #3100d4;
}

.col-6 {
  background: #ff3c3c;
}

.col-12 {
  background: #d900d0;
}
